@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "MoonGet";
  src: url("/assets/moon_get/moon_get-Heavy.otf") format("opentype"),
    url("/assets/moon_get/moon_get-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: "MoonGet";
  src: url("/asset/moon_get/moon_get-Heavy.otf");
  src: url("/asset/moon_get/moon_get-Heavy.ttf");
  font-style: normal;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(26px);
  -webkit-backdrop-filter: blur(8.3px);
}

